<header class ="header">
  <div class="container">
    <div class="kaspi">
      <img src="https://adena.by/bitrix/templates/aspro-allcorp3/images/kaspi-kz-seeklogo.png" alt="Kaspi.kz">
    </div>
    <div class="links">
      <span>Клиентам</span>
      <span>Бизнесу</span>
      <span>Kaspi Гид</span>
    </div>

    <div class="lang">
      <span>Қаз</span>
      <span class="active_lang">Рус</span>
    </div>
  </div>
  </header>

<div class="content">
  <h1 class="name">Магазин на Kaspi</h1>
  <app-product-list></app-product-list>
</div>
