.card {
  background: white;
  border-radius: 16px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

.card:hover {
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

.image-container {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-photo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.gallery {
  display: flex;
  gap: 8px;
  margin: 10px 0;
  justify-content: center;
}

.thumb {
  width: 60px;
  height: 60px;
  border: 1px solid #eee;
  border-radius: 6px;
  cursor: pointer;
  object-fit: cover;
}

.thumb:hover {
  border-color: #f01414;
}

.card-content {
  padding: 10px 5px;
}

h3 {
  margin: 0 0 8px;
  font-size: 1.2rem;
  color: #333;
}

.description {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.4;
  height: 40px;
}

.price {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin: 15px 0 5px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.stars {
  color: #ffc107;
  font-size: 29px;
}

.rating-value {
  color: #888;
  font-size: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-kaspi {
  background: #f01414;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
}

.btn-kaspi:hover {
  background: #d01212;
}

.share-buttons {
  display: flex;
  gap: 8px;
}

.btn-share {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  color: white;
}

.wa {
  background: #25D366;
}
.tg {
  background: #0088cc;
}

.btn-share:hover {
  opacity: 0.8;
}
